[2015-01-30 18:26] bcamper opened #4 "MultiPolygons are incorrectly encoded as a single Polygon"
A MultiPolygon is being incorrectly encoded as a single Polygon. It appears the rings of the multipolygon are being flattened into one polygon, so for instance, a multipolygon with two single-ring polygons is being encoded as a single polygon with two rings, which means the second polygon is misinterpreted as a hole in the first polygon.

Instead, since the format doesn't natively support multipol

[2015-01-30 18:28] bcamper commented on #4
Top image: correctly encoded multipolygon.
Bottom image: incorrectly encoded multipolygon, which renders as one polygon.

![screen shot 2015-01-30 at 1 02 39 pm](https://cloud.githubusercontent.com/assets/16733/5980954/b18103ee-a883-11e4-9a79-3f70a254290b.png)
![screen shot 2015-01-30 at 1 02 32 pm](https://cloud.githubusercontent.com/assets/16733/5980953/b180008e-a883-11e4-8cce-ee65ddffb636.png)

[2015-01-30 18:28] bcamper commented on #4
cc @hkrishna @rmarianski

[2015-02-02 16:23] hkrishna commented on #4
Closing this issue. #5 explodes multipolygons

[2015-02-02 16:23] #4 closed

[2015-02-26 09:21] relet opened #7 "reading tiles from file - invalid literal for int() with base 2: 'b10'"
I'm not sure if this is a documentation issue or a bug.

I am trying to decode tiles from this source http://kartverket.maplytic.no/labs/ - for example http://cdn.maplytic.no/kartverket.maplytic.no/tile/sosi_n50,sosi_n250,sosi_n1000,sosi_n2000,sosi_n5000/13/4245/2423.vector.pbf?sosi_n250:zoom=10-11&sosi_n5000:zoom=0-4&sosi_n50:zoom=12-20&sosi_n2000:zoom=5-6&featuretype=%5BOBJTYPE%5D&sosi_n1000:zoo

[2015-02-26 16:39] bcamper commented on #7
@hkrishna would you mind taking a look please?

[2015-02-26 20:14] hkrishna opened #8 "Investigate/fix decoder's ValueError and DecodeError"
As per #7

### ValueError

[code]

[code]

[code]

### DecodeError

[code]

[code]

[code]

[2015-02-26 20:15] hkrishna commented on #7
@relet thank you for opening this issue and letting us know. This looks like a bug with the mapbox_vector_tile.decode() method. It will need further investigation.

Closing this for now in favor of #8

[2015-02-26 20:15] #7 closed

[2015-02-27 13:02] relet commented on #8
FYI - this is what I decode using the library from https://github.com/ElectronicChartCentre/java-vector-tile

[code]

[code]

[2015-07-01 15:32] ezheidtmann opened #11 "In what projection should I provide geometries for encoding?"
Hi! I'm having some trouble with my vector tiles and I think I'm using the wrong projection. The example shows a WKT geometry in what appears to be latitude & longitude, but the vector tiles spec mentions both spherical mercator and pixel values. So here's my question:

When using `mapbox_vector_tile.encode()`, should I provide geometries in spherical mercator (meters), degrees latitude and longit

[2015-07-01 16:19] rmarianski commented on #11
Tile relative values. We take mercator meters and then scale them to a range of 4096. The scaled values are what we pass to the encoder.

[2015-07-01 16:19] #11 closed

[2015-07-01 16:23] rmarianski opened #12 "Update readme to use realistic geometry values"
The readme example uses lat/lng coordinates, but we should probably send in values that we use in practice to avoid confusion. Or maybe just mention what kinds of values should be passed in for interoperability purposes.

[2015-07-01 16:42] ezheidtmann commented on #11
Thanks. Would you consider a PR that documents this?

[2015-07-01 16:45] rmarianski commented on #11
Yes, absolutely! :)

I created an issue for it already: https://github.com/mapzen/mapbox-vector-tile/issues/12

[2015-07-01 16:47] ezheidtmann commented on #12
I'm working on this today; as soon as I have something working in my app I will write the docs and example.

[2015-07-09 14:52] hkrishna commented on #8
closing this thanks to @kaidamasaki fix - #14

[2015-07-09 14:52] #8 closed

[2015-07-09 15:20] #12 closed

[2015-08-07 16:23] yohanboniface opened #17 "python3 support?"
Just made a quick try, doesn't seem to work:

- relative imports
- protobuf 2.6 instead of 3.0alpha3 (which API seems to have changed a bit)

README says it's compatible. Do you have a hidden branch with the fixes or it's me missing something? :)

[2015-08-07 17:17] rmarianski commented on #17
I just tried python 3 and it doesn't work for me either, so you're not missing anything :). We run with python 2.7 in all our environments.  @hkrishna?

I updated the readme to only say that python 2.6 and 2.7 are supported for now.

Is the move to the protobuf 3 alpha required to support python 3? Some searching suggests that the metaclass syntax is problematic in older versions, but maybe it's p

[2015-08-07 20:03] yohanboniface commented on #17
Sounds like: https://github.com/google/protobuf/pull/166#issuecomment-120419081

I understand that, but in the same time it's an alpha3, so not the first round, and if you have unittests covering the use cases of MVT this can be quite safe to handle the upgrade. And BTW, that may be an alpha version here too, or just a branch that can be used, and then tested by people using python 3. :)

[2015-08-07 20:20] rmarianski commented on #17
Yea, a separate python 3 supported branch that tracks the protobuf alpha in the interim sounds fine to me.

[2015-08-10 15:45] hkrishna commented on #17
@rmarianski yes, we run python 2.7 in all our environments (as of few weeks ago)

@yohanboniface a python3 branch sounds good.. we should probably add a line about the branch to the README as well

[2015-08-11 09:09] yohanboniface commented on #17
Does that means that this package has worked in python 3 at some point in history?

I can give a hand in porting the python part with pleasure, but honestly the protobuf API is Chinese for me.

[2015-08-11 15:25] rmarianski commented on #17
My guess is that it didn't work with python3 and the note in the readme was aspirational, but I could be completely wrong about that :) I myself haven't tried python3 before now. @hkrishna?

That sounds good. We probably won't get to move this forward on our end much, but I'd be happy to try and provide any support to help.

Instead of bumping to protobuf 3 alpha, maybe what we could try instead i

[2015-08-11 15:35] yohanboniface commented on #17
The "solution" linked seems like a python 3 only, `metaclass` as argument will fail at parsing I think.

I can make a POC in this direction, but will definitely profit some help when on the protobuf side.

[2015-08-11 15:40] rmarianski commented on #17
Yea, you're right. I was thinking of doing something like checking `sys.version_info.major` and having the classes that used metaclasses be defined differently based on the version. Not pretty, but it should work, assuming that's all that it takes.

[2015-08-11 15:42] yohanboniface commented on #17
Not sure it will even parse, actually :/

[2015-08-11 15:59] yohanboniface commented on #17
So, if I do a quick and dirty python 3 compat on MVT side (see #18), I hit this:

[code]

so I'm not sure protobuf is really ready for python 3, actually :/

[2015-08-11 22:30] rmarianski commented on #17
I think you'll have to regenerate the pbf wrappers when changing the protobuf version, and then account for whatever the api changes are.

I tried a simple example with conditionally defining the classes, and you're right, it didn't parse. I _think_ this strategy might still work by conditionally importing the classes from separate files. A proof of concept seemed to work for me, but I didn't get

[2015-08-12 06:47] yohanboniface commented on #17
This [trick](https://wiki.python.org/moin/PortingToPy3k/BilingualQuickRef#metaclasses) may worth a try too:

[code]

Do you remember from the top of your head how would I do that?

[2015-08-12 14:39] rmarianski commented on #17
https://developers.google.com/protocol-buffers/docs/pythontutorial#compiling-your-protocol-buffers

I suspect that you might need to use the version of `protoc` that matches the protobuf library, but I'm not sure about that.

[2015-08-26 10:31] yohanboniface commented on #17
Made a quick shot, seems that the `.proto` needs to be updated to new proto3 syntax:

[code]

Extension seems to be now replace by [Any](https://developers.google.com/protocol-buffers/docs/proto3#any), but at the moment I don't get my head around it.

[2015-08-26 12:43] yohanboniface commented on #17
Actually, it's possible to keep proto2 syntax while using protoc 3.0.0: https://github.com/mapzen/mapbox-vector-tile/pull/18/files#diff-aa5a952047d7e07608d4371eccace6eeR3

[2015-08-26 20:54] rmarianski commented on #17
Merged in the relevant pull request: #18

[2015-08-26 20:54] #17 closed

[2015-08-26 20:55] rmarianski opened #19 "pep8 compliance"
Make a pass through all source files to ensure they are pep8 compliant. A circle.yml file should be added to enforce this going forward too.

[2015-10-23 15:03] bcamper opened #20 "Update for multi-polygon compliance with spec v1.0.2"
The upcoming spec v1.0.2 clarifies how multi-polygons should be encoded: all polygons should be "flattened" into one series of rings, with the winding order of the rings used to determine which are interior/exterior. An exterior ring indicates the start of a new polygon.

I believe this differs from our current handling of multi-polygons, where we "exploded" each polygon into its own feature, and

[2015-10-26 19:36] rmarianski commented on #19
Resolved with https://github.com/mapzen/mapbox-vector-tile/commit/6a6e8f2a318369231dd554d94b7ad97cdee5ea85 and https://github.com/mapzen/mapbox-vector-tile/commit/5fce2aa280f7184a19d01fa59d565fccbfd6d8dc

[2015-10-26 19:36] #19 closed

[2015-10-30 18:15] nvkelso commented on #20
@bcamper Will this change work with older v0.3 and earlier Tangrams or does it require the new v0.4 release?

[2015-10-30 18:27] bcamper commented on #20
We should test it but as far as I am aware it should not require any Tangram changes. For decoding MVT tiles we use Mapbox's own JS library. Related, for non-tiled datasources, we do the same poly/ring detection on data generated by Mapbox's geojson-vt (which also outputs multi-polygons in this flattened format), see https://github.com/tangrams/tangram/blob/master/src/sources/geojson.js#L159.

[2015-11-02 15:51] rmarianski commented on #20
This fix didn't end up getting deployed with the latest update. I added tickets to the appropriate chef repos to ensure we get the latest version of mapbox-vector-tile deployed in the future.

https://github.com/mapzen/chef-tilequeue/issues/12
https://github.com/mapzen/chef-tileserver/issues/1

[2015-11-03 06:55] nvkelso commented on #20
Once deployed, how can we verify the fix?

[2015-11-03 15:42] bcamper commented on #20
We should identify a few multipolygon features and compare before/after to make sure they have not changed. I believe The Lake in Central Park is one (we had issues with it previously). Any good candidates?

[2015-11-11 21:21] nvkelso commented on #20
@rmarianski What further testing besides #402 do we need here?

[2015-11-11 21:23] rmarianski commented on #20
@nvkelso can we point an older version of tangram at the dev vector tiles to see if it looks ok?

[2015-11-11 21:53] bcamper commented on #20
I don't believe it's Tangram version dependent...?

On Wed, Nov 11, 2015 at 4:23 PM, Robert Marianski <notifications@github.com>
wrote:

[2015-11-11 22:01] rmarianski commented on #20
Did the decoding library version in tangram change at some point? It sounded like there was some question as to whether this change would impact older versions?

If not, then we should be ok.

[2015-11-11 22:04] bcamper commented on #20
The decoding library is Mapbox's, and *should* be compatible with old and new encoding methods. If we want to verify, all tangram releases are available by version number: mapzen.com/tangram/[version]/tangram.[min | debug].js

[2015-11-12 21:47] bcamper commented on #20
I was wrong, the Mapbox decoding lib doesn't provide this! This is fixed in Tangram here, when we are ready to merge:

https://github.com/tangrams/tangram/compare/decode-multipolygon

[2015-12-01 15:49] rmarianski opened #25 "Update encoder to handle dynamic layer extents"
The encoder should support dynamic extents on a per layer basis.

[2015-12-08 16:02] ekelleyv opened #26 "Render existing map instance to vector tile"
Essentially I am looking for a python equivalent to this flow in node:
https://github.com/mapnik/node-mapnik/blob/master/test/vector-tile.test.js#L42-L46

I have an existing map instance and would like to just set the map bbox and render to a vector tile protobuf. The current flow for raster tiles looks something like this:

[code]

Given that the readme discusses how to do the map->tile projectio

[2015-12-09 17:29] zerebubuth commented on #26
Hi! Unfortunately, there's no easy way to do that with this `mapbox-vector-tile` code at the moment, and it looks like [official bindings](https://github.com/mapnik/python-mapnik/issues/27) are still in the works.

However, you could try using [avecado](https://github.com/MapQuest/avecado), which builds some Python bindings for generating vector tiles. The documentation isn't extensive, but the [d

[2015-12-09 17:33] ekelleyv commented on #26
Cool, just wanted to make sure I was not missing something super obvious.

I use python datasources, so I can just grab the features from there and do the tile projections myself. Thanks for the quick response.

[2015-12-09 17:33] #26 closed

[2015-12-14 03:54] jwass opened #27 "New Release to PyPI?"
After the merge of #24, any possibility to push a new version? Probably needs a more major version bump given the change to the decoder API.

[2015-12-14 22:14] rmarianski commented on #27
https://pypi.python.org/pypi/mapbox-vector-tile/0.1.0

[2015-12-14 22:14] #27 closed

[2015-12-18 03:21] jwass commented on #27
Thank you!

[2016-01-20 17:49] drnextgis opened #28 "Encoding process is very slow for non clipped features"
Encoding process is very slow for non clipped features but if I use feature clipping by tile bounding box then encoding is performed very fast. Is it expected behavior? I can use clipping, but don't want to see tile bounds which appears in this case. Encoding time: first map - 70s, last - 10s.

![mvt](https://cloud.githubusercontent.com/assets/866124/12457704/ea5174a4-bfc7-11e5-9a40-ad86794c5438.p

[2016-01-26 22:49] rmarianski commented on #28
Unexpected. Even 10 seconds sounds like a long time to me :)

Taking a stab in the dark, are the polygons overly detailed for the zoom level? Are you able to simplify the polygons beforehand before encoding them? If so, I'd imagine that would speed things up significantly.

We haven't done much in the way of trying to improve performance, as things seemed to be "fast enough" thus far. If you are a

[2016-01-27 19:20] nvkelso commented on #28
@drnextgis Can you provide more information here?

[2016-02-04 00:54] nvkelso opened #32 "Tile extent should be 4096 inclusive"
From the [Mapbox spec](https://github.com/mapbox/vector-tile-spec/tree/master/2.1#41-layers):

[code]

[2016-02-05 16:42] loicgasser opened #33 "Question about quantization in doc"
In your doc you metion you have to "pre-quantize" coordinates before passing them to the encoder
using something like:

[code]

but in the offical doc, it says: (https://github.com/mapbox/vector-tile-spec/tree/master/2.1)

[code]

so downwards for `y` and initial coordinate starts at `(0,0)`.

Shouldn't you change it to:

[code]

I think that it would help performance if this library could take ca

[2016-02-05 17:04] nvkelso commented on #32
Related: #33.

[2016-02-08 13:35] loicgasser commented on #32
So they are basically say that the range of values within a tile is `[0, 4096]`, but then the number of possible values over x or y is `4097` and not `4096`. Seems like the doc does not agree with itself.

Which if these statements should we trust?

[2016-02-08 14:13] zerebubuth commented on #32
I think it's possible for the doc to agree with itself, if we assume that coordinates are unlike pixels and have zero width. While a bitmap (for example) 10 pixels wide would have positions `[0, 9]` and width 10, this is because the 9th pixel has a width of 1px. A vector tile 10 "pixels" wide would have positions `[0, 10]`, with each coordinate having zero width, but 1px space between them.

One w

[2016-02-08 14:42] loicgasser commented on #32
@zerebubuth  yes thank you, this makes sense to me now.

[2016-02-08 15:34] rmarianski commented on #33
There could be scenarios where the caller knows that the coordinates are already quantized, in which case this step wouldn't be desired.

That being said, I noticed we are a little bit inconsistent because the library assumes that the geometries passed in are in a coordinate system where y is going upward. It always flips the y here: https://github.com/mapzen/mapbox-vector-tile/blob/1412c3f6191496

[2016-02-08 16:19] rmarianski commented on #32
Looks like the issue here is that after scaling, we truncate the point, whereas we'd probably want to round instead.

[2016-02-08 17:16] loicgasser commented on #33
Yes both should be available according to me.

What distrubs me here that while I am iterating the first time through my features, I need to:
1) Go through all my features to create one dict I then pass to the encoder. (with quantization etc..)
2) And then give it to the encoder. -> Looping 2 times accross features using twice the amount of memory

I'd rather:
1) initialize using layerids
2) add t

[2016-02-12 19:38] nvkelso commented on #32
Requires Tangram coordination – will there be overlaps and break boundary detection?

[2016-02-12 19:38] nvkelso commented on #32
/cc @bcamper

[2016-02-12 19:51] bcamper commented on #32
Can we put it on a dev server so we can do a visual check?

[2016-02-12 19:56] rmarianski commented on #32
Definitely. We haven't implemented the change yet, and will let you know when it's on dev.

[2016-02-23 18:27] rmarianski commented on #32
@bcamper these changes should be live on dev now

[2016-02-23 20:38] bcamper commented on #32
Looks good.

[2016-02-23 21:34] nvkelso commented on #32
I'll also ask the CartoDB folks to look at dev.

[2016-02-24 06:28] nvkelso commented on #20
@rmarianski Is this part of v0.8 work?

[2016-02-24 15:40] rmarianski commented on #20
I vote for deploying with v0.8. All the work here is done and just needs to be deployed.

We've verified that the new winding order looks to be correct in dev now, as well as the [issue with rounding vs truncating](https://github.com/mapzen/mapbox-vector-tile/issues/32) not making things worse in tangram.

[2016-02-24 17:34] nvkelso commented on #20
Cool, moving into v0.8

[2016-02-26 01:05] nvkelso commented on #20
Over to @bcamper to confirm this works to spec before taking this to prod.

[2016-02-26 17:12] bcamper commented on #20
Verified in dev!

[2016-03-08 21:23] #32 closed

[2016-03-08 21:24] #20 closed

[2016-03-08 21:24] #33 closed

[2016-03-08 21:38] baxford opened #37 "pip install fails for v0.2.0"
Hi, thanks for this great library!
Since v0.2.0 has been released I'm getting errors from pip install
`
pip install mapbox-vector-tile --no-cache-dir
Collecting mapbox-vector-tile
  Downloading mapbox-vector-tile-0.2.0.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/

[2016-03-08 21:49] rmarianski commented on #37
That was exactly the problem. I pushed over a 0.2.1 hotfix that should work now.

Thanks for reporting!

[2016-03-08 21:49] #37 closed

[2016-03-08 21:50] baxford commented on #37
awesome, that works now thanks!

regards,
Bob Axford

Bob Axford
M: 0413 770 149
E: bob@figjamit.com.au

On Tue, Mar 8, 2016 at 9:49 PM, Robert Marianski <notifications@github.com>
wrote:

[2016-03-21 10:43] DaZzz opened #40 "Installation error on Mac OS X"
I've got the following error:
[code]

So I had to install `geos` library manually (`brew install geos`) to fix this problem. Consider adding this step to installation section.

[2016-03-21 11:02] zerebubuth commented on #40
Hi @DaZzz, gald to hear you got it working. I've added a paragraph about Shapely and its dependency on GEOS in #41. Would that have helped make the installation steps clearer?

[2016-03-21 11:10] DaZzz commented on #40
@zerebubuth now it's great. :+1:

[2016-03-21 15:19] zerebubuth commented on #40
Awesome, thanks!

[2016-03-21 15:19] #40 closed

[2016-03-22 13:19] flippmoke opened #42 "Following V2 Specification"
I took a quick glance over your encoder code and I am concerned about if the code actually makes v2 compliant vector tiles. My suggestion would be to simply tag as v1 tiles until further notice. Don't feel rushed IMO to get up to v2 until you feel you have a solid implementation.

We also are working to put together better documentation around the specification, so please see the living document a

[2016-04-12 18:32] rmarianski opened #45 "Handle invalid geometries"
After quantizing and encoding mvt tiles, we can end up in situations where we generate invalid geometries. The encoder should allow for the flexibility to handle these in different ways, eg drop invalid geometries, try to correct the geometry and try again, raise an exception, etc. Offering a callback might be a general way to approach the implementation.

[2016-04-12 18:34] rmarianski commented on #45
Related to https://github.com/mapzen/mapbox-vector-tile/issues/42

[2016-04-14 20:45] yohanboniface commented on #42
@rmarianski seems like we should be saying `1` here for now, no: https://github.com/mapzen/mapbox-vector-tile/blob/773dbfdc38e75ab08f572f6a1c5fc321007dc252/mapbox_vector_tile/encoder.py#L72 ?

[2016-04-14 21:21] pnorman opened #48 "spherical mercator assumption"
README.md states

The specification is actually projection-agnostic, working only in units within the extent. It's TMS numbering where the projection comes in.

[2016-04-15 13:40] zerebubuth commented on #48
I've updated that section of the README in #49 - does that look better now?

[2016-04-15 15:12] rmarianski commented on #42
@yohanboniface we've updated to encoding version 1 for now. It may be a couple of weeks before this is reflected in the service though.

[2016-04-15 15:20] yohanboniface commented on #42
Thanks @rmarianski :)

Can you tag a new release also? :)

[2016-04-15 18:07] rmarianski commented on #42
@yohanboniface 0.3.0 tagged and uploaded to pypi.

[2016-04-15 18:45] yohanboniface commented on #42
Thanks! :)

[2016-04-15 20:14] pnorman commented on #48
:+1:

It also makes some other concepts clearer which I had to step through a couple times to understand.

[2016-04-15 20:14] #48 closed

[2016-04-22 20:14] drnextgis commented on #28
After simplification all works like a charm. Sorry for the noise.

[2016-04-22 20:14] #28 closed

[2016-04-22 21:08] nvkelso commented on #28
Great to hear this is working for you now! Is your project online so we can check it out?

[2016-05-06 10:37] ptpt opened #50 "Raise an exception on geometries of GeometryCollection type"
Would be good if it could raise an exception to tell users that it doesn't support encoding GeometryCollection.

Otherwise protobuf will complain like this
[code]

which doesn't make sense

[2016-05-10 15:23] rmarianski commented on #50
Thanks for the report! This should be fixed on master now.

[2016-05-10 15:23] #50 closed

[2016-05-26 16:34] ptpt opened #53 "A possible off-by-one error when flipping y coord"
Both the README and the spec v1 state that coordinates must be within 0 to 4095 i.e. `[0, EXTENT)`

When you flip the y coord, [the code](https://github.com/mapzen/mapbox-vector-tile/blob/master/mapbox_vector_tile/encoder.py#L408):

[code]

will convert `y=0` to `y=4096` which will cause a point feature at `y=0` (expected to show at the bottom of the tile) won't show up at all.

[2016-05-26 16:42] ptpt commented on #53
Also in README,

The upper right corner of the tile should be `POINT(4095 4095)`. `POINT(4096 4096)` should be complete out of the tile.

[2016-05-27 10:48] zerebubuth commented on #53
The most recent version of the [Mapbox vector tile specification](https://github.com/mapbox/vector-tile-spec/tree/master/2.1) says:

The coordinate `(4096, 4096)` would therefore be the lower right corner and `(0, 0)` the upper left of the encoded vector tile. This is different from how one usually thinks about images with discrete (raster) pixels, where the pixel at index `[4095, 4095]` is the co

[2016-05-27 11:25] ptpt commented on #53
Hi @zerebubuth Thanks for the clarifying how the coordinates work.

However, the issue is still here. Encoding a `POINT (X 0)` feature (which will flip to `POINT (X 4096)`) nothing will show on the map. If I encode `POINT(X 1)`, a point will show at the bottom of the tile. Is this by design? i.e. the minimal y must be 1?

And also this library doesn't encode to the latest version 2.1. It still use

[2016-05-27 12:20] zerebubuth commented on #53
Hmmm... sorry, I think I didn't explain that very well. Perhaps a diagram would help:

![circle4219](https://cloud.githubusercontent.com/assets/271360/15607243/44ed93a2-2409-11e6-91dd-22c24bdaa4f4.png)

The diagram represents a vector tile in `y`-up "geographic" coordinates, with three points:

* blue at `(1024, 0)`
* green at `(4096, 2048)`
* red at `(3072, 4224)`

These will be transformed into

[2016-05-27 13:18] ptpt commented on #53
Thanks again. Yes it is rendering on mapbox-gl-js. Do you think it could be the problem?

I set up a simple page: http://mm.mapillary.io/index2.html

The code to generate the tiles:

[code]

Would be nice you can test it using other rendering software. The temporary testing endpoint is at http://mm.mapillary.io/tiles5001/{z}/{x}/{y}.mapbox

[2016-05-27 15:51] zerebubuth commented on #53
I see what you mean with the Mapbox GL JS example. It's clearly not showing all the points. I'm afraid I don't know enough about Mapbox GL to know whether that's the expected behaviour or not.

[Here's a similar example](http://mapzen.com/tangram/play/?scene=https%3A%2F%2Fapi.github.com%2Fgists%2F4e155a56148a745859cc1dfb6a5d470d#12/55.6165/12.9735) using Tangram JS, and (on my computer) all the po

[2016-05-27 16:11] ptpt commented on #53
It's likely to a rendering problem with the Mapbox client. I will check with them.

Thank you very much for the help. Keep up the good work!

[2016-05-27 16:11] #53 closed

[2016-05-28 08:36] loicgasser commented on #53
I am just putting it out there but did you include a buffer around your tile ? Points may disappear or appear cutted if you don't. Usually the default value is around 100px.

So you may actually have values below 0 and above 4095 encoded in the tile.

another thing you could check is the pixel ratio which is:
nb of possible vals in your tile / screen resolution of your tile

4096 / 256 = 16 (Usual

[2016-05-31 18:03] ekelleyv opened #54 "Decimal + quantize in _round() is substantially slower than round()"
In profiling this library, I have found that a very substantial amount of time is spent in the `_round()` method in encode.py.

Looking through git history, it looks like this change was made for python3 compatibility. I have done very little work with python3, any chance someone could explain the motivation for the change? Aside from even/odd rounding (is this particularly important?), is this fu

[2016-05-31 18:25] rmarianski commented on #54
The change was meant to add consistency across python2/3 versions. The way this was discovered was a test failure in python3 that didn't exist in python2, and the different rounding behavior was the culprit.

How about adding an option to the encoder to allow pluggable rounding behavior? Maybe add an option like `round_fn`, and you can just pass in the default python `round` function directly. I t

[2016-05-31 18:31] ekelleyv commented on #54
Sounds reasonable to me. Will try and put together a PR today w/ optional round.

[2016-06-01 09:55] #54 closed

[2016-06-14 17:03] fosskers commented on #42
Please update to version 2.

[2016-06-14 22:25] fosskers opened #57 "A Puzzle of Winding Order"
Hi there. I'm currently putting together a VectorTile (v2) codec, much like this library here but in another language. I found this while looking for an independant tool to verify my schema and the `protobuf` library I'm using. I've been experimenting with `mapbox-vector-tile` almost all day now, and so far I've managed the following:

* [x] Encode a hand-written instance of my schema type, and de

[2016-06-17 17:49] nvkelso commented on #57
@flippmoke Can you comment on this, please? I've gotten pretty confused :\

[2016-07-05 14:35] fosskers commented on #57
Any thoughts?

[2016-07-13 22:58] nvkelso commented on #57
Documentation:

- Spec: https://github.com/mapbox/vector-tile-spec/tree/master/2.1#4356-example-multi-polygon
- With pictures: https://www.mapbox.com/vector-tiles/specification/#winding-order

Could be we're doing it wrong!

[2016-07-14 18:26] zerebubuth commented on #57
Hi @fosskers. I think we might have fixed the bug in #59 and we've released a new version, 0.4.0, of the PyPI package. Please could you test that and see if there's still an issue?

[2016-07-21 22:33] fosskers commented on #57
Works like a charm! Testing against my [Haskell codec](https://github.com/fosskers/vectortiles) confirms the fix. I have some benchmarks comparing the two, but oddly enough PyPy 5.3 fails to encode anything, instead outputting many lines of `ParseException: Unknown WKB type 79`. The number isn't always 79, though.

[2016-07-22 00:00] nvkelso commented on #57
Great to hear, thanks!

[2016-07-22 00:10] #57 closed

[2016-07-27 23:42] alpha-beta-soup opened #61 "quantize_bounds documentation problem"
Nice work on this encoder.

Looking at the documentation for [quantisation](https://github.com/tilezen/mapbox-vector-tile#quantization), it states that:

The following example then has:

[code]
Those bounds look like minx, miny, maxx, maxy, and indeed the source code:

[code]

Easy fix that only affects that bit of documentation in the readme.

[2016-07-28 13:12] #61 closed

[2016-08-04 08:13] lexman opened #63 "Curious Warning : Ring Self-intersection at or near point 0 1"
Hello,
when using mapbox-vector-tile with some shape from Postgis this message appears in the log :

I've been able to isolate a test case :

    import mapbox_vector_tile
    geom = "POLYGON ((0 0, 4 0, 4 4, 0 4, 0 1, 3 3, 3 1, 0 1, 0 0 ))"
    mapbox_vector_tile.encode([
      {
        "name": "test",
        "features": [
          {
            "geometry": geom,
            "properties":{}

[2016-08-04 11:13] zerebubuth commented on #63
I think this might be down to the OGC "standard" definition of polygon validity. If I'm remembering correctly, it's allowed for an interior ring to touch, but not cross, an exterior ring once. But it's not okay for a ring (exterior or interior) to touch or cross itself.

However, the [latest version of the Mapbox vector tile specification](https://github.com/mapbox/vector-tile-spec/tree/master/2.1

[2016-08-05 14:58] lexman commented on #63
Hello, you're right the first version of the polygon is not OGC valid, and if you query Postgis with

    SELECT ST_AsText(ST_MakeValid(ST_GeomFromText('POLYGON ((0 0, 4 0, 4 4, 0 4, 0 1, 3 3, 3 1, 0 1, 0 0 ))')))

You get

    "POLYGON((0 1,0 4,4 4,4 0,0 0,0 1),(0 1,3 1,3 3,0 1))"

Sorry for fake bug... I'm closing.

[2016-08-05 15:29] mapsam commented on #63
@lexman @zerebubuth the OGC invalid winding order example on the specification page was pointed out by @nvkelso a couple weeks back - it's on my list to fix! Apologies for the potential confusion. https://github.com/mapbox/vector-tiles/issues/19

[2016-08-05 15:34] zerebubuth commented on #63
@lexman we're doing a similar thing to `ST_MakeValid` inside the vector tile encoder, so either input should produce working output!

Just to make absolutely sure; the output tile of the first example (self-touching exterior ring - OGC invalid) crashes the SDK, but the output tile for the second one (interior ring touching outer - OGC valid) is okay? Or do they both have problems?

[2016-08-12 16:56] zerebubuth opened #64 "Support encoding and decoding lists"
MVT doesn't have a native list value type, but we can fake it by encoding lists to something like `"list:" + value.to_json`, and parse it from JSON when the prefix is `list:` when decoding. This runs the risk of decoding things which start with `list:` which aren't actually lists, but I think there are few enough of them?

[2016-08-16 22:47] nvkelso commented on #64
Apparently Mapbox encodes raw JSON for nested properties (e.g.: for their file uploader > tiles tool).

[2016-08-20 17:47] lexman commented on #63
Sorry for answering so late... We've fixed a few issues, we've upgraded to version 4 and we've made use of on-_invalid_geometry_make_valid. But in the rush we didn't test every step to see what really fixed the issue because our mobile developper is on hollydays. Actually, the application crashes could have been caused by a layer not simplified enought. It would produce some 1MB tiles and we suspe

[2016-09-04 12:56] murphy214 opened #65 "Readme Encoding Example Error"
Hey guys,

I was trying out your example in the ReadMe but I can't seem to get it to work. I tried fixing this myself I know my readme examples might not work often times. I had a look at your implementation, and I found an issue in the _load_geometry() function. (I'm guessing from probably a change on shapely's end)

The load_wkb() and load_wkt() functions don't throw an actual exception when the

[2016-09-04 19:49] #65 closed

[2016-09-22 07:22] nvkelso commented on #45
@rmarianski Anything more to test with this one before taking it to prod?

[2016-09-22 13:09] rmarianski commented on #45
Good to go.

[2016-09-22 16:54] #45 closed

[2016-09-26 21:54] nyurik commented on #64
I just made an implementation proposal for objects and lists at https://github.com/mapbox/vector-tile-spec/issues/75#issuecomment-249655916

[2016-10-26 14:50] lexman opened #72 "Encode in C++"
Hello,

in order to increase encoding performance, we'll to convert some part of the code to C/C++ in submodule.

We've already [forked the project](https://github.com/Mappy/mapbox-vector-tile/tree/geo_encode_cpp) for working freely, but our purpose is to submit a pull request when we're done. That's why we want to share the design to make things right the first time.

According to our tests (in p

[2016-10-26 15:21] flippmoke commented on #72
@lexman I am putting the final touches on https://github.com/mapbox/wagyu right now - which will be responsible for making all our geometry valid and supported for v1/v2. This is exciting because it is a header only library -- rather then having reliance on other large libraries. Which is really exciting because it will unlock me to start working on adding an encoder to https://github.com/mapbox/v

[2016-10-27 13:57] rmarianski commented on #72
@lexman thanks for offering to do this work, and for letting us know in advance! We would appreciate a pr here, and here are my immediate thoughts:

* the `_geo_encode` python function has not been optimized at all, and I'd expect that it can be sped up significantly with a relatively small amount of effort.
* the major concern is that maintaining native code will be more effort than in python. I'

[2016-10-27 21:07] nvkelso commented on #42
We think we're much more v2 MVT spec compliment in the recent [v1.0.0](https://github.com/tilezen/mapbox-vector-tile/releases/tag/v1.0.0) release of this `tilezen/mapbox-vector-tiles` library for geometry topology (doesn't address any other v2 topics in this issue).

[2016-10-28 15:56] lexman commented on #72
Hello,

@rmarianski I perfectly understand your concerns about maintaining native code, and that's why I've made contact in the first place. If we go down that path, be sure we'll be willing to maintain the code for the 13 milion users of our french website http://mappy.com .

But for the moment I'm submiting a [PR](https://github.com/tilezen/mapbox-vector-tile/pull/74) only for improving the pyth

[2016-11-07 08:48] lexman commented on #42
Hello,

I'd like to sum up the remarks from @flippmoke to follow progress :

[ ] No duplicate nor empty layer name
[ ] Check extent is greater than 0
[ ] A Vector Tile SHOULD contain at least one layer with at least one feature
[X] A feature MUST have a type
[ ] A lineTo command can't have no movement
[ ] LineString geometry can't be only a moveto command
[ ] A polygon should not have less than 3

[2016-11-08 09:34] engobi opened #76 "Why max_geometry_validate_tries parameter setted to 5"
Hello,

We work actually for adding new geometry validity function on invalid multipolygons that are not yet validate by existing geometry validity function. When working on this issue, we've discovered **max_geometry_validate_tries** param in class VectorTile (https://github.com/Mappy/mapbox-vector-tile/blob/master/mapbox_vector_tile/encoder.py), this param is setted to 5 that indicate that on th

[2016-11-08 10:32] zerebubuth commented on #76
Hi!

It used to be possible for the code which made the geometry valid to insert points at non-integer coordinates. This meant that the geometry had to be quantized again, potentially making it invalid again. We found that running through the process a certain number of times could "iterate" towards a valid and quantized geometry. Unfortunately, in some cases the iteration never converged and so w

[2016-11-17 15:49] lexman opened #80 "Where to explain performance tips ?"
Hello,
in our struggle for performance we've found a cheap optimization : using the C++ version of protobuf instead of the python one. It's all decribed [here](https://github.com/google/protobuf/tree/v2.6.1/python) : just set two environment variables before you run your program (PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=cpp and ROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION_VERSION=2) and you get speedup for

[2016-11-17 20:23] rmarianski commented on #80
Nice find! :zap:

I think the [README.md](https://github.com/tilezen/mapbox-vector-tile/blob/master/README.md) file is the appropriate place to document this. Mind submitting a pr to add a note in there?

[2016-11-18 08:30] lexman commented on #80
I'll do that, likely on thuesday...

[2016-11-22 10:39] lexman commented on #80
I've made a PR : https://github.com/tilezen/mapbox-vector-tile/pull/81

[2016-12-15 00:10] nvkelso commented on #80
This was merged, closing.

[2016-12-15 00:10] #80 closed

[2017-01-12 19:59] nvkelso opened #87 "Outer rings sometimes dropped"
Outside of Bremen, Germany some of the larger `meadow` landuse polygons are broken / missing large pieces in MVT compared to the same tile in TopoJSON. (I vaguely remember the same thing happening to some of the plodder "wetland/ farmland" landuse outside of Amsterdam, too?)

To replicate this problem "Open" the following GIST into Tangram Play:
https://api.github.com/gists/35bc3a9b8adb925dd7e4e8c

[2017-01-13 09:34] zerebubuth commented on #87
It's not just some of the larger `meadow` polygons - many smaller polygons of `meadow` and the two other kinds of green (forest and wood?) are missing too. The image below shows the difference between the two images:

![image](https://cloud.githubusercontent.com/assets/271360/21924980/4eb748e0-d973-11e6-8a29-37a8a223127b.png)

:confounded:

[2017-08-15 19:53] nvkelso opened #94 "Stringify complex properties"
We currently drop properties that are lists (or any complex property including nested properties like found in Who's On First features) on conversion from native GeoJSON like format to MVT format.

The convention that is generally followed is to **stringify** the complex properties.

The following Tilezen properties would be affected:

**roads** layer lists:

- `all_networks`
- `all_shield_texts`

[2017-08-15 20:34] rmarianski commented on #94
Just confirming, stringify here means encode as a json string right?

[2017-08-15 20:49] nvkelso commented on #94
I believe so, yes.

Tippecanoe should act as good reference:

https://github.com/mapbox/tippecanoe/search?utf8=✓&q=stringify&type=

[2017-08-15 22:15] matteblair commented on #94
What's an example of styling with a "complex" property that can't be replaced with simple properties? The properties named here are all lists, so maybe there's a simpler way to represent this data (rather than allowing properties to be arbitrarily complex JSON objects).

[2017-08-15 23:32] matkoniecz commented on #94
@matteblair I Imagine that map displaying bus routes or hiking routes or displaying separate shields on roads where multiple refs apply would use this kind of data.

I was thinking about displaying hiking routes, each in its associated colour - but I have yet to check is this data currently available.

Note for people confused about colours for binning routes - in some countries hiking routes have

[2017-08-16 00:25] nvkelso commented on #94
That's a handsome map!

Yes, it's mostly about displaying additional labels.

For most the complex properties there's a basic property to use. In the case of transit we _could_ do something similar, maybe?

[2017-10-21 00:22] nvkelso opened #95 "Topology errors in 512px tiles widespread for landuse polygons"
Compared to the 256px tiles I'm seeing many more topology errors and dropped polygons in the 512px tiles. I think this is because after trying to make a polygon "whole" a few times, if we still fail we drop the feature. We need to do a better job to keep the features.

For example, northern California:
http://tangrams.github.io/walkabout-style/#8/40.815/-124.094

512px tiles miss the wilderness ar

[2017-10-21 00:22] nvkelso commented on #95
@zerebubuth after RAWR settles down let's revisit this topology space.

[2017-10-21 00:24] nvkelso commented on #95
Zoom 7 in northern California has a lot of national_forest green areas missing:
http://tangrams.github.io/walkabout-style/#7/40.618/-123.876

<img width="525" alt="screen shot 2017-10-20 at 17 24 03" src="https://user-images.githubusercontent.com/853051/31846051-870b0d92-b5bb-11e7-81f3-3a75662dcd98.png">
<img width="539" alt="screen shot 2017-10-20 at 17 23 56" src="https://user-images.githubuserc

[2017-10-23 09:56] zerebubuth commented on #95
Related to #87?

[2017-10-26 19:11] rmarianski opened #96 "erroneous scale_rank values of True"
scale_rank values of `True` are erroneously appearing in tiles. Example tile:

https://tile.mapzen.com/mapzen/vector/v1/512/all/16/19293/24639.mvt

[2017-10-26 19:40] rmarianski commented on #96
This is happening because both the values of `True` and `1` are evaluating to the same index in the value to index mapping dict.

[2017-10-26 21:22] jalessio commented on #72
@nvkelso I was asking around at the Mapzen booth at [SOTMUS](https://2017.stateofthemap.us/) and it was suggested that I ping you about this issue. I'm trying to sort out if anyone has made concrete progress on C-based performance improvements to this library.

I'm having trouble figuring out if anyone is really using the changes proposed by @lexman and the Mappy team. Do you have any info on that

[2017-10-26 22:26] nvkelso commented on #72
@jalessio Hello again :) @rmarianski can speak to this when he's back in the office Friday.

[2017-10-27 13:30] rmarianski commented on #72
I can confirm that we are using the changes from https://github.com/tilezen/mapbox-vector-tile/pull/74 in production, which while had some improvements in performance, IIRC was more focused on preparing for a C based implementation. If there's been further improvements, we'd be happy to accept a pr for it. But at this time, we are using the v1.2.0 tag in production.

[2017-10-27 13:44] rmarianski opened #98 "Travis build failing with seg fault"
Travis CI build has started failing with a seg fault.

https://travis-ci.org/tilezen/mapbox-vector-tile/builds/293683076

[2017-10-27 15:22] zerebubuth commented on #98
I think it's worth noting that the *tests* pass OK, and the segfault happens when it tries to run the tests a second time for *coverage*. That being said, I ran the coverage locally without a problem. Perhaps the coverage run uses more memory and an allocation ends up failing?

[2017-10-27 20:00] pnorman commented on #98
That's certainly a possibility, or if anything is multithreaded, it could change order of operations with timing changes that don't happen locally.

Unfortunately, working with travis and core dumps is near-impossible.

[2017-10-30 15:03] flippmoke commented on #72
@rmarianski, at Mapbox are slowly working towards making some more generic pieces for making vector tiles. So that we can have individuals use smaller pieces that do exactly what is needed for encoding/decoding/creating vector tiles. If you would want to re-use any of our code or contribute both would be appreciated! Most of our code is being focused around using a specific internal C++ geometry s

[2017-10-30 20:25] rmarianski commented on #72
@flippmoke thanks for the heads up. Are you planning on making a python wrapper? It would be interesting to look into what it would take to use vtzero as the implementation.

[2017-10-30 20:32] flippmoke commented on #72
@rmarianski no we are not planning on making a python wrapper for it, but it should be really fast if it was wrapped in a python.

[2017-11-02 14:40] ptpt commented on #42
Hey, any update on this issue?

[2017-11-02 18:45] nvkelso commented on #42
We haven't prioritized this on the Mapzen side, but if you're interested we'd accept a PR (or two)!

This one is a little odd and should just be a warning – Tilezen vector tiles certainly include 0 feature layers sometimes but keep the layer to be consistent with surrounding tiles which will probably have content in that layer.

[2017-11-02 19:11] flippmoke commented on #42
@nvkelso in general it is a good idea to not have empty layers if you can do it, just saves some bandwidth, storage and processing.

[2017-11-02 19:26] pnorman commented on #42
What's the recommendation for a tile with no features in it?

It feels like there might be a spec issue there

[2017-11-02 19:33] flippmoke commented on #42
@pnorman a tile with no features in should have no layers and therefore is an empty buffer, therefore, it is best to not even have a tile in that location. The lack of existence of a tile specifies that there is nothing there.

[2017-11-02 19:50] pnorman commented on #42
What would you return over HTTP if someone requests a tile with no features?

[2017-11-02 20:15] flippmoke commented on #42
`204 No Content` is probably the correct response

[2017-11-03 10:36] zerebubuth commented on #42
Are web browsers able to trap and deal with `204` separately from a `404` in javascript? That would allow the server to make the distinction between a tile that exists, but is empty, and a tile that does not exist (no such coordinate or wrong format, etc...)

I think it's largely a theoretical question, since all our base tiles have either water or land in them, but it's certainly possible if one

[2017-11-03 16:10] rmarianski commented on #42
@nvkelso I agree here, but would an optimization like this need to be made only for 2.0 tiles? Not knowing the specifics on the client side, I can see it being possible for some client code to break.

[2017-11-03 16:19] pnorman commented on #42
Because it's a SHOULD, not a MUST, returning empty tiles is valid behavior, so any client that breaks is in error.

[2017-11-03 16:46] zerebubuth opened #100 "Polygon validity and performance"
Making sure that polygons are valid (which we're not even doing 100% at, see #95 & #87) takes up, on average, about 60% of the time it takes to format an MVT tile. Formatting MVT tiles takes up around 21% of total runtime, and formatting tiles in general takes around 50% of all runtime.

We know that polygon validity is hard, but we need it for V2 #42. We also know that performance could be better

[2017-11-03 18:24] flippmoke commented on #100
@zerebubuth I am well versed in this problem and more then willing to help guide you in any way possible here. Even if you need to have a phone call or something definitely willing to help out. It is in the best interest of all the encoders if we are attempting to solve this together!

[2017-11-03 18:31] zerebubuth commented on #100
Great, thanks!

What do you do to make valid polygons? Perhaps there's a small bit of software we can extract and reuse?

[2017-11-03 18:49] flippmoke commented on #100
@zerebubuth we developed https://github.com/mapbox/wagyu specifically to address this problem. Its not a small bit of software. Making OGC valid polygons can be really tough in some crazy situations, almost any algorithm isn't perfect and I promise you will take a massive lift to develop on your own. Doing this in pure python would likely be very slow as well. I have considered for a long time wha

[2017-11-03 18:59] zerebubuth commented on #100
Thanks, we'll definitely take a look at wrapping that and seeing if we can re-use it.

The README describes Wagyu as a fork / evolution of Clipper, which we already use. Seems like the topology correction step is the extra bit we're missing, since Clipper doesn't handle that for us. We have [something which tries to do that](https://github.com/tilezen/mapbox-vector-tile/blob/879569ac994acb1684e869

[2017-11-03 23:51] nvkelso commented on #42
Yes, I agree it would be a 2.0 breaking change for the Mapzen vector service – this library would need to support both behaviors as a config.

[2017-11-27 14:04] larsclaussen opened #101 "Documentation seems to be truncated"
The readme contains this part:

[code]
 The ```yield...```  statement is incomplete. Also the code that is calling ``xy_pairs()`` is missing.

[2017-11-28 16:35] #101 closed

[2017-12-20 12:50] adodo1 opened #103 "The encode error!!!!"
![ERROR](https://raw.githubusercontent.com/adodo1/mapbox-vector-tile-demo/master/err/err01.png)

#
the test code in this

https://github.com/adodo1/mapbox-vector-tile-demo

https://github.com/adodo1/mapbox-vector-tile-demo/blob/master/tiles/test.py

#
this coordinates in file:

https://github.com/adodo1/mapbox-vector-tile-demo/blob/master/tiles/6_.json

[2017-12-20 12:52] adodo1 commented on #103
The tile
row = 6
col = 3
level = 3

[2017-12-20 12:58] zerebubuth commented on #103
Sorry about this! It's a known issue (see #100, #87, #42), but we don't have a fix for it yet.

[2017-12-21 01:24] adodo1 commented on #103
[code]

[2017-12-21 01:52] adodo1 commented on #103
![](https://raw.githubusercontent.com/adodo1/mapbox-vector-tile-demo/master/err/err03.png)

I found the reason of this

the input geometry is anti-clockwise, anti-clockwise

but the output geometry is clockwise, anti-clockwise

[2017-12-21 03:15] adodo1 commented on #103
![](https://raw.githubusercontent.com/adodo1/mapbox-vector-tile-demo/master/err/err04.png)

[2017-12-21 09:27] adodo1 commented on #87
see my issues #103

because the polygon part

to solve like this

for example:

a polygon in geojson >>

[code]

you must make it to **MultiPolygon** like this

[code]

[2017-12-21 09:34] adodo1 commented on #100
in my issues #103  to solve like this

for example:

a polygon in geojson >>

[code]

you must make it to **MultiPolygon** like this

[code]

[2018-02-28 06:07] guyanf opened #104 "ERROR ParseException: Unknown WKB type 79"
Hi All:
When I use encode, there are some errors **in the logfile.**
eg:
ERROR ParseException: Unknown WKB type 79(Maybe 73/69/85/other)

This is code:

`import mapbox_vector_tile
import logging
logging.basicConfig(level=logging.INFO,
                    format="""%(asctime)s %(levelname)s %(message)s""",
                    datefmt='%d %b %H:%M:%S',
                    filename='nohup.out',

[2018-02-28 10:26] zerebubuth commented on #104
The errors are appearing in the log file because your code configures the root logger to send all messages to the `nohup.out` log file. The parse error is being logged by [Shapely's GEOS module](https://github.com/Toblerity/Shapely/blob/f9111c833a511f243235f4b9128d20f10dd7ec73/shapely/geos.py#L223-L227), using the name `shapely.geos`, but will be handled by the root logger unless it has been overr

[2018-02-28 10:26] #104 closed

[2018-02-28 18:33] lexman commented on #72
Hello @jalessio, sorry for this late answer but I've left the tiling team for a year now. At the time, we didn't go to the C++ implementation as advertised because the 25% performance we gained was enough at the time. This performance improvement is included version 1.1 and 1.2 that have been used in production at https://mappy.com/ for a year now and it works well.

If you need more speed and loa

[2018-03-03 16:03] jalessio commented on #72
@lexman thanks for the update!

I would like to use `ST_AsMVT` but we're using Postgres/Postgis on AWS RDS and as of now they don't have protobuf support on their instances :(

[2018-08-20 01:14] alpha-beta-soup opened #105 "Generating metadata.json"
Is it possible to generate a matching TileJSON `metadata.json` to match a given vector tile produced with this library? I'm creating a server that is capable of serving `application/vnd.mapbox-vector-tile` output. I'm still in an early stage of development, and would appreciate an easy way to inspect my output and see if it is correct (literally just a single tile with a local directory, or localh

[2018-08-20 05:16] nvkelso commented on #105
@alpha-beta-soup See https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/issues/78 and https://github.com/tilezen/tapalcatl-py/issues/23.

The long answer is it's served at the edge and not by this library (which is just a dump pass thru of data schemas and doesn't know about schemas).

The TileJSON in the other issue is hand constructed and maintained, fun times.

[2018-08-20 05:16] #105 closed

[2018-10-30 09:01] enricofer opened #107 "mapbox-vector-tile doesn't output rfc7946 geojson compliant feature type"
in https://github.com/tilezen/mapbox-vector-tile/blob/46629e478935954fc2dcbd8d17d005546b8d31a0/mapbox_vector_tile/decoder.py#L48 mvt decoder assign an invalid geojson feature type that as from [geojson specifications](https://tools.ietf.org/html/rfc7946#section-3) should be "Feature", "FeaturesCollection" or "GeometryCollection", not 1,2,3 as from actual implementation.
The output geojson isn't ac

[2018-10-30 11:44] zerebubuth commented on #107
Yup, sorry about that! The decoder outputs a data structure which is [pretty close to the internal structure of an MVT tile](https://github.com/tilezen/mapbox-vector-tile/tree/46629e478935954fc2dcbd8d17d005546b8d31a0#decoding), and wouldn't be usable directly as GeoJSON. I think in addition to properly stringifying the enum, we'd also need to do the coordinate conversion from MVT tile-local coordi

[2018-10-30 15:04] enricofer commented on #107
Given that I'm using mapbox-vector-tile in a limited context (reading mapillary coverage in a QGIS plugin) and I don't know and I'm not interested in whole MVT cases implementation, I solve for myself manually setting line 48 of decoder.py forcing to:
[code]
In fact looking to the given link, the internal structure of MVT return always a Features array.
I don't know if MVT could even output "Geome

[2018-10-30 20:47] nvkelso commented on #107
Seems useful to wider group of people, so yes on a PR.

But seems like it should be an new option to output rfc7946 geojson than changing the default behavior, which this would be a downpayment for.

[2019-03-12 17:20] vonbearshark commented on #98
👋 How can I help move this along to publishing @rmarianski @zerebubuth? Would be great to get these changes https://github.com/tilezen/mapbox-vector-tile/pull/97

[2019-03-12 18:09] zerebubuth commented on #98
Hi! Thanks for getting in touch.

Looks like we're still stuck with test failures, although I'm not seeing the segfault any more, we've now got a protobuf-related problem (from https://github.com/tilezen/mapbox-vector-tile/pull/108#issue-233208179):

Fixing the tests would be my preferred solution. But I don't really understand why it's failing, so I've got no clues to help fix it :confused: @rmar

[2019-03-12 18:46] vonbearshark commented on #98
Any chance it's just a simple relative `import` issue: https://stackoverflow.com/a/51688380?

[2019-03-13 10:54] zerebubuth commented on #98
Good idea! I tried that and [pushed it up to a branch](https://github.com/tilezen/mapbox-vector-tile/compare/zerebubuth/no-relative-imports), but unfortunately it's [still failing](https://travis-ci.org/tilezen/mapbox-vector-tile/builds/505671412). Please take a look at the branch - perhaps there's something I missed or messed up.

I also tried (on a different branch) to update the protobuf genera

[2021-03-03 17:35] cornhundred opened #109 "non geographic data"
Is it possible to generate MVT tiles from non-geographic data - e.g. X and Y coordinates on a 2D plane?

[2021-03-04 06:35] nvkelso commented on #109
You can certainly "fake" your data into web mercator projection, but it would involve some scaling tricks. You might want to try Carto or MapTiler as they support multiple projections with GUI tools.

[2021-03-04 06:35] #109 closed

[2021-03-04 13:12] cornhundred commented on #109
Thanks @nvkelso I'll look into that

[2021-03-18 15:26] LIUJISHENG opened #110 "when decoding ,how to convert coordinates back to EPSG:4326."
when decoding ,how to convert coordinates back to EPSG:4326

[2022-06-08 23:47] vincentsarago opened #113 "latest protobuf 4.21 break mapbox-vertor-tile"
https://developers.google.com/protocol-buffers/docs/news/2022-05-06#python-updates

ref: https://github.com/developmentseed/timvt/runs/6803647280?check_suite_focus=true#step:8:33
[code]

Solutions:
- set `protobuf>=3.0,<4.21`
- write more `compat` code 🤷

[2022-08-22 17:00] benoit9126 commented on #113
@vincentsarago A proposal to solve this and much more in #114

[2022-09-09 03:47] jantelope0204 commented on #110
how to resolve this question?

[2022-10-11 21:43] zstern opened #117 "Docs say requires python 3.5 but "protobuf requires Python '>=3.7'""
Created an environment for python 3.5 but it cant install a compatible version of protobuf

[2022-11-17 03:23] WYJQAQ commented on #117
I user python3.5 and face same the error like you.
`pip install --upgrade protobuf==3.20.1`
This is useful